<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="icon" type="image/png" href="/assets/logo-m.png">
    <link rel="stylesheet" type="text/css" href="/admin/css/style.css" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    
    <div class="container-wrapper">
        <!-- top-bar -->
        <nav class="navbar">
            <a href="/admin/dashboard" class="logo-style"><div class="logo">MAS<span>KUY</span></div></a>
            <form action="#" method="GET">
                <input type="text" placeholder="Search..." class="search-input" />
                <button type="submit" class="search-button">
                <i class="fas fa-search"></i>
                </button>
            </form>
        </nav>
    </div>

    <div class="container-content">
        <div class="sidebar">
            <ul class="nav-list">
                <li>
                    <a href="/admin/carrousel">
                        Carrousel
                    </a>
                </li>
                <li>
                    <a href="/admin/resep/list">
                        Resep
                    </a>
                </li>
            </ul>
        </div>

        <div class="main-content">
            <h1 class="admin-dash">This in Carrousel</h1>
        </div>
    </div>


</body>