<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
</head>
<body>
    <nav class="navbar">
        <div class="logo">MAS<span>KUY</span></div>
        <ul class="nav-links">
            <li><a href="#">Kategori</a></li>
            <li><a href="#">Cari Resepmu</a></li>
            <li><a href="#">Resep Terbaru</a></li>
            <li><a href="#">Artikel</a></li>
        </ul>
        <div class="search-box">
            <form action="#" method="GET">
            <input type="text" placeholder="Search..." class="search-input" />
            <button type="submit" class="search-button">
                <i class="fas fa-search"></i>
            </button>
            </form>
        </div>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>

    <div class="detail-resep">
        <div class="container-resep">
            <div class="box-image">
                <img src="/assets/resep1.jpg" alt="">
            </div>
            <div class="box-desc">
                <div class="resep-desc">
                  <h2>Rendang Khas Padang</h2>
                  <p>Rendang, masakan ikonik dari Padang, Sumatera Barat, Indonesia, adalah simbol seni masak luar biasa. Daging sapi lembut dimasak perlahan dalam rempah-rempah khas, menghasilkan cita rasa kaya dan kompleks. Tekstur dalam, rasa gurih, pedas, dan manis dari rempah yang meresap sempurna ke dalam daging, serta saus kentalnya, menjadikan rendang tak tertandingi.</p>
                </div>
                <div class="icon-desc">
                  <div class="box-icon">
                    <i class="fas fa-clock">
                      <p>8 Jam</p>
                      <h4>Waktu Memasak</h4>
                    </i>
                  </div>
                  <div class="box-icon">
                    <i class="fas fa-chart-bar">
                      <p>Sedang</p>
                      <h4>Tingkat Kesulitan</h4>
                    </i>
                  </div>
                  <div class="box-icon">
                    <i class="fas fa-utensils">
                      <p>3 Orang</p>
                      <h4>Penyajian</h4>
                    </i>
                  </div>
                </div>
            </div>
        </div>
    </div>  
    
    <div class="cara-bahan">
      <div class="container-cara-bahan">
        <div class="box-bahan">
            <h3>Bahan</h3>
            <p>Lorem ipsum dolor sit amet.</p>
            <p>Lorem ipsum dolor sit amet.</p>
            <p>Lorem ipsum dolor sit amet.</p>
            <p>Lorem ipsum dolor sit amet.</p>
            <p>Lorem ipsum dolor sit amet.</p>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="box-cara">
            <h3>Cara Masak</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error, consectetur?</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error, consectetur?</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error, consectetur?</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error, consectetur?</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error, consectetur?</p>
        </div>
      </div>
    </div>

    <div class="banner-detail">
        <div class="banner-detail-content">
          <h1>Ayo Belajar Masak, Temukan Resep Masakan Favoritmu Disini</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, in.</p>
          <button class="btn-banner-detail">
            Ayo Jelajahi Resep Terbaru!
          </button>
        </div>
    </div>

    <div class="artikel">
        <div class="artikel-content">
          <h1>Artikel Terbaru</h1>
          <div class="artikel-wrap">
            <div class="artikel-box">
              <img src="/assets/artikel1.jpg" alt="">
              <p>Khasiat Luar Biasa Ubi Ungu: Makanan Wajib dalam Diet Sehat Anda</p>
            </div>
            <div class="artikel-box">
              <img src="/assets/artikel2.jpg" alt="">
              <p>Daging Ayam Kini Lebih Nikmat: 7 Ide Kreatif dalam Mengolahnya di Dapur Anda</p>
            </div>
            <div class="artikel-box">
              <img src="/assets/artikel3.jpg" alt="">
              <p>Tips Memilih dan Menyajikan Makanan Sehat dalam Program Diet Anda</p>
            </div>
            <div class="artikel-box">
              <img src="/assets/artikel4.jpg" alt="">
              <p>Menjelajahi Kelezatan Masakan Korea: 10 Hidangan yang Wajib Anda Coba</p>
            </div>
          </div>
        </div>
    </div>

    <footer>
        <div class="container">
          <div class="sec aboutus">
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil enim adipisci, modi nulla porro consequatur quidem alias sint autem, qui dolore nemo placeat atque cumque corrupti tempore? Natus tempore cumque architecto autem, corrupti, rem, voluptatibus nesciunt dolores eaque nihil voluptates.</p>
            <ul class="sci">
              <li><a href=""><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href=""><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
              <li><a href=""><i class="fab fa-youtube" aria-hidden="true"></i></i></a></li>
              <li><a href=""><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
            </ul>
          </div>
          <div class="sec quickLinks">
            <h2>Quick Links</h2>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
          <div class="sec contact">
            <h2>Contact Information</h2>
            <ul class="info">
              <li>
                <span><i class="fas fa-map-marker-alt"></i></span>
                <span>123 Street Name, City, Country</span>
              </li>
              <li>
                <span><i class="fas fa-envelope"></i></span>
                <span>info@example.com</span>
              </li>
              <li>
                <span><i class="fas fa-phone"></i></span>
                <span>+123 456 7890</span>
              </li>
            </ul>
          </div>
        </div>
    </footer>
</body>
</html>