<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="icon" type="image/png" href="/assets/logo-m.png">
    <link rel="stylesheet" type="text/css" href="/admin/css/style.css" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    
    <div class="container-wrapper">
        <!-- top-bar -->
        <nav class="navbar">
            <a href="/admin/dashboard" class="logo-style"><div class="logo">MAS<span>KUY</span></div></a>
            <form action="#" method="GET">
                <input type="text" placeholder="Search..." class="search-input" />
                <button type="submit" class="search-button">
                <i class="fas fa-search"></i>
                </button>
            </form>
        </nav>
    </div>

    <div class="container-content">
        <div class="sidebar">
            <ul class="nav-list">
                <li>
                    <a href="/admin/resep/list">
                        Resep
                    </a>
                </li>
                <li>
                    <a href="/admin/artikel/list">
                        Artikel
                    </a>
                </li>
            </ul>
        </div>

        <div class="main-content">

            <div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
        <h1 class="h3 mb-0 text-gray-800">Edit Artikel <%= artikel.judul %></h1>
    </div>

    <div class="card shadow">
        <div class="card-body">
            <form action="/admin/artikel/update/<%= artikel.id %>" method="post" enctype="multipart/form-data">
                <input type="hidden" name="_method" value="PUT">
                <div class="form-group">
                    <label for="judul_artikel">Judul Artikel</label>
                    <input type="text" class="form-control" name="judul_artikel" placeholder="Judul Artikel" value="<%= artikel.judul_artikel %>">
                </div>
                <div class="form-group">
                    <label for="foto_artikel">Gambar Masakan</label>
                    <input type="file" class="form-control" name="gambar" placeholder="Gambar Masakan">
                </div>
                <div class="form-group">
                    <label for="content_artikel">Content Artikel</label>
                    <textarea name="content_artikel" rows="10" class="d-block w-100 form-control"><%= artikel.content_artikel %></textarea>
                </div>
                
                <button type="submit" class="btn btn-danger btn-block">
                    Save Change
                </button>
            </form>
        </div>
    </div> 

</div>

            
        </div>

    </div>
</body>